<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/mobile/font.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/account/logout.js"></script>
</head>
<body>
<input type="hidden" id="_csrf" th:value="${_csrf.token}">
<div class="container-fluid">
    <div class="row vh-100">
        <!--왼쪽 화면-->
        <div class="d-none d-lg-flex flex-column flex-shrink-0 p-3 text-bg-dark text-center" style="width: 280px; height: 100%;">
            <div class="d-flex">
                <a href="/admin" class="text-white text-decoration-none">
                    <span class="fs-4">관리자 페이지</span>
                </a>
                <div class="ms-auto">
                    <a href="/" class="">
                        <img src="https://cdn-icons-png.flaticon.com/128/12324/12324997.png" width="35px;" height="35px;" style="background-color: white; border-radius: 5px;">
                    </a>
                </div>
            </div>
            <hr>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a href="/admin" class="nav-link text-white" aria-current="page">
                        관리자 홈
                    </a>
                </li>
                <li>
                    <a href="/admin/userManagement" class="nav-link text-white">
                        회원 관리
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link active">
                        블랙리스트 관리
                    </a>
                </li>
            </ul>
            <div class="mt-auto">
                <hr>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>mdo</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" id="logoutBtn">로그아웃</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--오른쪽 화면-->
        <div class="col p-0" style="background-color: #eee">
            <!--모바일-->
            <div class="d-lg-none d-sm-block">
                <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">Navbar</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarColor01">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/admin">관리자 홈</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">회원 관리</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="p-3 m-4" style="background-color: white">
                <h3>블랙리스트 목록</h3>
                <div>
                    <!--검색-->
                    <div class="col-md-6 ms-auto p-0">
                        <form class="d-flex" role="search">
                            <div class="col-3">
                                <select class="form-select" id="option">
                                    <option value="1">닉네임</option>
                                    <option value="2">아이디</option>
                                </select>
                            </div>
                            <div class="col">
                                <input class="form-control me-2" type="search" id="keyword" aria-label="Search" placeholder="검색어를 입력하세요.">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary" type="button" onclick="search()">검색</button>
                            </div>
                        </form>
                    </div>
                    <div style="background-color: white">
                        <!--게시글 Detail-->
                        <table class="table text-center">
                            <thead>
                            <tr>
                                <th class="col-auto d-none d-lg-table-cell">번호</th>
                                <th class="col">아이디</th>
                                <th class="col">닉네임</th>
                                <th class="col-auto d-none d-md-table-cell">주소</th>
                                <th class="col">가입 날짜</th>
                                <th class="col">계정상태</th>
                            </tr>
                            </thead>
                            <tbody class="users-list"></tbody>
                        </table>

                        <!--게시글 페이징-->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center users-page-list">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
