<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/account/logout.js"></script>
    <link href="/mobile/font.css" rel="stylesheet"></script>
    <script>
        // 페이지 로드시 호출되는 함수
        document.addEventListener("DOMContentLoaded", function (){
            getBoardDetails();
            getAllComment(0);
        })

        // -------------- //
        function editBoard(){
            document.getElementById("edit-title").value = document.getElementById("title").innerText;
            document.getElementById("edit-freeBoard-content").value = document.getElementById("freeBoard-content").innerText;

            // 'editBoardButton' ID를 가진 요소에 click 이벤트 리스너 설정
            // updateBoard 함수를 호출
            document.getElementById("editBoardButton").onclick = function (){
                updateBoard();
            };
        }

        function editComment(commentId, content) {
            // 모달 내의 textarea 에 기존댓글의 내용을 넣어줌
            document.getElementById("edit-content").value = content.replace(/<br>/g, "\n");

            // 'editCommentButton' ID를 가진 요소에 click 이벤트 리스너 설정
            // updateComment 함수를 호출하며, commentId를 인자로 전달
            document.getElementById("editCommentButton").onclick = function (){
                updateComment(commentId);
            };

        }
        // -------------- //

        // C(Create)
        async function createUserComment(){
            let boardId = document.getElementById("boardId").value;
            let comment_content = document.getElementById("comment_content").value;
            let _csrf = document.getElementById("_csrf").value;

            try{
                const response = await fetch(`/api/c/boards/${boardId}/comments`, {
                    method : "POST",
                    headers : {
                        "Content-Type" : "application/json",
                        "X-CSRF-TOKEN" : _csrf
                    },
                    body : JSON.stringify({
                        content : comment_content
                    })
                });

                const res = await response.text();
                if(res.startsWith('<!doctype')){
                    alert("로그인 후 이용하세요");
                    window.location.href = "/login";
                }else{
                    alert(res);
                    document.getElementById("comment_content").value = "";
                    getAllComment(0);
                }
            }catch (error){
                alert(error);
                window.location.href = "/boards/" + boardId;
            }
        }

        // R(Read)
        async function getBoardDetails(){ // 게시글 Detail
            let boardId = document.getElementById("boardId").value;

            try{
                const response = await fetch(`/api/boards/${boardId}`, {
                    method : "GET",
                    headers : {
                        "Content-Type" : "application/json",
                    }
                });

                const res = await response.json(); // JSON 형식으로 응답 본문을 파싱

                // 파싱된 응답 데이터를 사용하여 UI 업데이트
                document.getElementById("createDate").innerText = res.createDate.replace(/[T.-]/g, ' ').slice(2, 16);
                document.getElementById("nickname").innerText = res.nickname;
                document.getElementById("view").innerText = res.view;
                document.getElementById("title").innerText = res.title;
                document.getElementById("freeBoard-content").innerText = res.content;
            }catch (error){
                if(error instanceof TypeError) alert("알 수 없는 오류입니다.");
                else alert(error);
                window.location.href = "/boards/" + boardId;
            }
        }

        async function getAllComment(page){
            let boardId = document.getElementById("boardId").value;
            document.getElementById("currentPage").value = page;

            try{
                const response = await fetch(`/api/boards/${boardId}/comments?page=${page}`, {
                    method : "GET",
                    headers : {
                        "Content-Type" : "application/json",
                    }
                });

                const res = await response.json();
                if(!res.content.length){
                    $('.freeBoardComment-list').html('<div class="cm_none"><p>등록된 댓글이 없습니다.</p></div>');
                    return false;
                }else {
                    // 렌더링 할 HTML을 저장할 변수
                    let commentHtml = ``;

                    res.content.forEach(row => {
                        let content = row.content.replace(/\n/g, "<br>");
                        let createDate = row.createDate.replace(/[T.-]/g, ' ').slice(2, 16);

                        // 고유한 모달 ID 생성
                        commentHtml += `
                                    <div class="card p-3" id=${row.boardId}>
                                        <div class="row">
                                            <div class="col-auto">
                                                <img src="https://cdn-icons-png.flaticon.com/128/4530/4530959.png" alt="" width="30" height="30" class="rounded-circle">
                                            </div>
                                            <div class="col-auto p-0 d-flex align-items-center">
                                                ${row.nickname}
                                            </div>
                                            <div class="col d-flex justify-content-end align-items-center">
                                                <div class="col-auto px-2">${createDate}</div>
                                        `;



                        if(row.author) {
                            commentHtml += `
                                                <div class="col-auto px-2">
                                                    <div class="dropdown">
                                                      <button class="btn p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <img src="https://cdn-icons-png.flaticon.com/128/7151/7151956.png" width="25px;">
                                                        </button>
                                                      <ul class="dropdown-menu text-center">
                                                        <li>
                                                            <button onclick="editComment(${row.id}, '${content}')" class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#freeBoardComment-modalView">수정</button>
                                                        </li>
                                                        <li>
                                                            <button onclick="deleteComment(${row.id})" type="button" class="dropdown-item">삭제</button>
                                                        </li>
                                                      </ul>
                                                    </div>
                                                </div>
                                            `;
                        }
                        commentHtml += `
                                            </div>
                                        </div>
                                        <div class="row">
                                            <span class="">${content}</span>
                                        </div>
                                    </div>
                                    `;
                    });
                    $(".freeBoardComment-list").html(commentHtml);
                }

                let pageHtml = "";
                pageHtml += `
                <li class="page-item ${res.first ? "disabled" : ""}">
                    <a class="page-link btn-sm" onclick="getAllComment(${res.number - 1})">Previous</a>
                </li>
                `;

                let startPage = (Math.floor((res.number) / 5)) * 5;
                let endPage = Math.min(startPage + 5, res.totalPages);
                for(let page = startPage; page < endPage ; page++){
                    pageHtml += `
                    <li class="page-item ${page == res.number ? 'active' : ''}">
                        <a class="page-link btn-sm" onclick="getAllComment(${page})">${page + 1}</a>
                    </li>
                `;
                }

                pageHtml += `
                <li class="page-item ${res.last ? "disabled" : ""}">
                    <a class="page-link btn-sm" onclick="getAllComment(${res.number + 1})">Next</a>
                </li>
            `;
                $(".page_list").html(pageHtml);
            }catch (error){
                alert(error);
                window.location.href = "/";
            }
        }

        // U(Update)
        async function updateBoard() {
            let boardId = document.getElementById("boardId").value;
            let _csrf = document.getElementById("_csrf").value;

            // Bootstrap 모달의 경우, 모달을 닫을 때 단순히 스타일을 변경하여 숨기는 것 이외에도 Bootstrap 자체적으로 처리해야 하는 이벤트와 클래스가 있어서 이렇게 사용
            let myModal = document.getElementById("freeBoard-modalView");
            // Bootstrap Modal 인스턴스를 생성합니다.
            let modalInstance = bootstrap.Modal.getInstance(myModal);

            try{
                const response = await fetch(`/api/boards/${boardId}`, {
                    method : "PUT",
                    headers : {
                        "Content-Type" : "application/json",
                        "X-CSRF-TOKEN" : _csrf
                    },
                    body : JSON.stringify({
                        title : document.getElementById("edit-title").value,
                        content : document.getElementById("edit-freeBoard-content").value
                    })
                });

                const res = await response.text();
                alert(res);
                modalInstance.hide();
                getBoardDetails();
            }catch (error){
                if(error instanceof TypeError){
                    alert("로그인 후 이용하세요");
                    window.location.href = "/login";
                }else{
                    alert(error);
                    window.location.href = "/boards/" + boardId;
                }
            }
        }

        async function updateComment(id) {
            let boardId = document.getElementById("boardId").value;
            let commentId = id;
            let currentPage = document.getElementById("currentPage").value;
            let content = document.getElementById("edit-content").value;
            let _csrf = document.getElementById("_csrf").value;

            let myModal = document.getElementById("freeBoardComment-modalView");
            let modalInstance = bootstrap.Modal.getInstance(myModal);

            try {
                const response = await fetch(`/api/comments/${commentId}`, {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRF-TOKEN": _csrf
                    },
                    body: JSON.stringify({
                        content: content
                    })
                });

                const res = await response.text();
                alert(res);
                modalInstance.hide();
                getAllComment(currentPage);
            } catch (error) {
                if (error instanceof TypeError) {
                    alert("로그인 후 이용하세요");
                    window.location.href = "/login";
                } else {
                    alert(error);
                    window.location.href = "/boards/" + boardId;
                }
            }
        }

        // D(Delete)
        async function deleteComment(id){
            let currentPage = document.getElementById("currentPage").value;
            if (!confirm("삭제하시겠습니까?")){ return; }
            let boardId = document.getElementById("boardId").value;
            let commentId = id;
            let _csrf = document.getElementById("_csrf").value;

            try{
                const response = await fetch(`/api/comments/${commentId}`, {
                    method : "DELETE",
                    headers : {
                        "Content-Type" : "application/json",
                        "X-CSRF-TOKEN" : _csrf
                    }
                });

                const res = await response.text();
                alert(res);
                getAllComment(currentPage);
            }catch (error){
                if(error instanceof TypeError){
                    alert("로그인 후 이용하세요");
                    window.location.href = "/login";
                }else{
                    alert(error);
                    window.location.href = "/boards/" + boardId;
                }
            }
        }
    </script>
</head>
<div th:insert="~{layouts/header.html :: headerFragment}"></div>
<body>
<input type="hidden" id="currentPage" value="0">
<input type="hidden" id="boardId" th:value="${boardId}">

<div class="container-md">
    <div class="col-lg-8 m-auto p-3 m-0">
        <div class="row p-3 bg-body-tertiary">
            <!-- 게시글 Detail -->

            <div class="card border p-3">
                <div class="row">
                    <div class="col-auto">
                        <img src="https://cdn-icons-png.flaticon.com/128/4530/4530959.png" alt="" width="30" height="30" class="rounded-circle">
                    </div>
                    <div class="col-auto p-0 d-flex align-items-center" id="nickname"></div>
                    <div class="col d-flex justify-content-end d-flex align-items-center">
                        <div id="createDate"></div>
                    </div>
                </div>
                <div class="row">
                    <strong id="title"></strong>
                </div>
                <div class="row">
                    <div id="freeBoard-content"></div>
                </div>
                <div class="row">
                    <div class="col-auto d-flex">
                        <img src="https://cdn-icons-png.flaticon.com/128/7835/7835667.png" width="20px;">
                        <div class="px-2" id="view"></div>
                    </div>
                </div>
            </div>

            <div sec:authorize="isAnonymous()" class="p-0">
                <br>
                <hr>
            </div>
            <!-- 로그인 한 사용자만 보이는 댓글 작성, 수정, 삭제 -->
            <div sec:authorize="isAuthenticated()" class="p-0">
                <!-- 댓글 수정, 삭제 -->
                <div class="d-flex justify-content-end" th:if="${writer == #authentication.principal.username}"> <!-- 글 작성자라면 수정 가능 -->
                    <!-- Button trigger modal -->
                    <button type="button" onclick="editBoard()" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#freeBoard-modalView">
                        수정
                    </button>

                    <!-- 게시글 수정 Modal -->
                    <div class="modal fade" id="freeBoard-modalView" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">수정</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <label>제목</label>
                                    <textarea type="text" class="form-control" id="edit-title"></textarea>
                                    <label>내용</label>
                                    <textarea type="text" class="form-control" id="edit-freeBoard-content"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">닫기</button>
                                    <button type="button" class="btn btn-sm btn-primary" id="editBoardButton">작성</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <hr>

                <!-- 댓글 작성-->
                    <div class="d-flex">
                        <textarea class="col col-lg-11" id="comment_content" rows="3"></textarea>
                        <input class="col-lg-1 btn btn-sm btn-primary" type="button" onclick="createUserComment()" value="작성">
                    </div>
                <br>
            </div>

            <!--/* 댓글 렌더링 영역 */-->
            <div class="freeBoardComment-list p-0">

            </div>

            <!-- 댓글 수정 Modal -->
            <div>
                <div class="modal fade" id="freeBoardComment-modalView" tabindex="-1" aria-labelledby="freeBoardComment-modal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title fs-5" id="freeBoardComment-modal">수정</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <textarea type="text" class="form-control" id="edit-content"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">닫기</button>
                                <button type="button" class="btn btn-sm btn-primary" id="editCommentButton">작성</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--페이징-->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center page_list">
                </ul>
            </nav>

            <br>
            <a class="btn btn-sm btn-primary" href="/boards">목록</a>
        </div>
    </div>


</div>

<div th:insert="~{layouts/footer.html :: footerFragment}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>



