<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="/account/logout.js"></script>
        <link href="/mobile/font.css" rel="stylesheet">
        <link href="/header/header.css" rel="stylesheet">
        <script src="/header/header.js"></script>
        <script>
            // 페이지 로드시 호출되는 함수
            document.addEventListener("DOMContentLoaded", function (){
                getBoardList("", 0, "");
                document.querySelector(".sortSelect").addEventListener("change", function (){
                    sortSelectEvent();
                });
            })

            // R(Read)
            function displayBoardList(res){
                let keyword = document.querySelector("#keyword").value;
                let option = document.querySelector("#option").value;

                let boardHtml = `
                                <div class="row m-0 bg-light fw-bold py-2" style="border-bottom: 3px solid #eee;">
                                    <div class="col-1 d-md-block d-none">번호</div>
                                    <div class="col-md-6 col text-dot">제목</div>
                                    <div class="col-2 d-md-block d-none">작성자</div>
                                    <div class="col-2 d-md-block d-none">날짜</div>
                                    <div class="col-1 d-md-block d-none">조회</div>
                                </div>
                `;
                res.content.forEach(row => {
                    let createDate = row.createDate.replace(/[T,-]/g, "-").slice(0,10);

                    // 이미지 태그를 조건에 따라 동적으로 생성
                    boardHtml += `
                                <div id="${row.id}" class="board-item row m-0 py-2" style="border-bottom: 1px solid #eee;">
                                    <div class="col-1 d-md-block d-none">${row.id}</div>
                                    <div class="col-md-6 col-12 text-dot text-start fw-bold p-md-0 py-1 d-flex">
                                        <div class="text-dot">${row.title}</div>
                                        <div class="px-1 mx-1" style="border-radius: 5px; background-color: cornflowerblue; color: white;">+${row.commentCount}</div>
                                        <div class="px-1" style="border-radius: 5px; background-color: hotpink; color: white;">♥${row.likes}</div>
                                    </div>
                                    <div class="col-md-2 col-auto">${row.nickname}</div>
                                    <div class="col-auto d-md-none p-0">/</div>
                                    <div class="col-md-2 col-auto">${createDate}</div>
                                    <div class="col-auto d-md-none p-0">/</div>
                                    <div class="col-md-1 col-auto">
                                        <img class="d-md-none" src="https://cdn-icons-png.flaticon.com/128/158/158746.png" width="15px;">
                                        ${row.view}
                                    </div>
                                </div>
                                    `;
                });
                document.querySelector(".board-list").innerHTML = boardHtml;


                let pageHtml = "";
                pageHtml += `
                                    <li class="page-item ${(res.first) ? "disabled" : ""}">
                                        <a class="page-link" onclick="getBoardList('${keyword}', ${res.number - 1}, '${option}')"><</a>
                                    </li>
                                    `;

                let startPage = (Math.floor((res.number) / 5)) * 5;
                let endPage = Math.min(startPage + 5, res.totalPages);
                for(let page = startPage; page < endPage ; page++){
                    pageHtml += `
                                        <li class="page-item ${(page == res.number) ? 'active' : ''}">
                                            <a class="page-link" onclick="getBoardList('${keyword}', ${page}, '${option}')">${page + 1}</a>
                                        </li>
                                    `;
                }

                pageHtml += `
                                    <li class="page-item ${(res.last) ? "disabled" : ""}">
                                        <a class="page-link" onclick="getBoardList('${keyword}', ${res.number + 1}, '${option}')">></a>
                                    </li>
                                `;
                document.querySelector(".board-page").innerHTML = pageHtml;
                addEventToRows();
            }

            async function sortSelectEvent(){
                let keyword = document.querySelector("#keyword").value;
                let page = document.querySelector("#page").value;
                let option = document.querySelector("#option").value;
                let _csrf = document.querySelector("._csrf").value;
                try{
                    const response = await fetch("/api/freeBoard", {
                        method : "POST",
                        headers : {
                            "Content-Type" : "application/json",
                            "X-CSRF-TOKEN" : _csrf
                        },body : JSON.stringify({
                            sortNum : getSortNum(),
                            keyword : keyword,
                            page : page,
                            option : option,
                            pageSize: 10
                        })
                    });

                    const res = await response.json();
                    console.log(res);
                    displayBoardList(res);

                } catch(error){
                    alert(error);
                    window.location.href = "/freeBoard";
                }
            }

            function getSortNum(){
                return document.querySelector(".sortSelect").value;
            }

            function search(){
                // 옵션 선택 요소의 value 값을 가져옵니다.
                let option = document.querySelector("#option").value;
                // 검색어 입력란의 value 값을 가져옵니다.
                let keyword = document.querySelector("#keyword").value;

                getBoardList(keyword, 0, option);
            }

            async function getMyInfo(){
                try{
                    const response = await fetch("/api/myInfo", {
                        method : "GET",
                        headers : {
                            "Content-Type" : "application/json"
                        }
                    });

                    const res = await response.json();
                    console.log(res);
                    document.querySelector(".profile").innerHTML = `${(res.profileImage != null) ?
                        `<img src="/profileUpload/${res.profileImage}" width="32" height="32" class="rounded-circle me-2 border">` :
                        '<img src="https://cdn-icons-png.flaticon.com/128/4530/4530959.png" width="32" height="32" class="rounded-circle me-2 border">'}`;
                    document.querySelector(".my-nickname").innerText = `${res.nickname}`;
                    document.querySelector(".boardsSize").innerText = `작성글 ${res.freeBoards_size}개`;
                    document.querySelector(".commentsSize").innerText = `댓글 ${res.comments_size}개`;

                }catch (error){
                    alert(error);
                    window.location.href = "/";
                }
            }

            async function getBoardList(keyword, page, option){ // 게시글 리스트
                const category = document.getElementById("category").value;
                let _csrf = document.querySelector("._csrf").value;
                try{
                    const response = await fetch(`/api/boards?category=${category}`, {
                        method : "POST",
                        headers : {
                            "Content-Type" : "application/json",
                            "X-CSRF-TOKEN" : _csrf
                        },
                        body : JSON.stringify({
                            sortNum : getSortNum(),
                            keyword : keyword,
                            page : page,
                            option : option,
                            pageSize: 10
                        })
                    });

                    const res = await response.json();
                    console.log(res);
                    displayBoardList(res);
                }catch (error){
                    alert(error);
                    window.location.href = `/boards?category=${category}`;
                }
            }

            function addEventToRows() {
                const category = document.getElementById("category").value;
                document.querySelectorAll(".board-item").forEach(function (row) {
                    row.addEventListener("click", function (){
                        window.location.href = "/boards/" + row.getAttribute("id") + `?category=${category}`;
                    });
                });
            }
        </script>
    </head>
    <div th:insert="~{layouts/header.html :: headerFragment}"></div>
    <body style="background-color: #eee">
        <input type="hidden" id="category" th:value="${category}">
        <input type="hidden" id="page" value="0">
        <div class="container-xl">
            <div class="row text-center">
                <div class="order-xl-1 order-2 col-xl-3 mt-xl-3">
                    <div sec:authorize="isAnonymous()" class="d-none d-xl-block my-info p-3" style="background-color: white; border-radius: 15px;">
                        <form action="/loginProc" method="post">
                            <input type="text" name="username" class="form-control mb-2" placeholder="아이디">
                            <input type="password" name="password" class="form-control mb-2" placeholder="비밀번호">
                            <input type="hidden" name="_csrf" class="_csrf" th:value="${_csrf.token}">
                            <button type="submit" class="form-control text-white" style="background-color: #434B57">로그인</button>
                        </form>
                        <div class="text-end">
                            <a href="/join" style="text-decoration: none; color: black">회원가입</a>
                        </div>
                    </div>
                    <div sec:authorize="isAuthenticated()" class="d-none d-xl-block my-info p-3" style="background-color: white; border-radius: 15px;">
                        <script th:inline="javascript">
                            document.addEventListener("DOMContentLoaded", function() {
                                getMyInfo();
                            });
                        </script>
                        <div class="d-flex align-items-center text-black px-1">
                            <div class="me-auto d-flex">
                                <div class="profile"></div>
                                <strong class="my-nickname"></strong>
                            </div>
                            <div sec:authorize="hasRole('ADMIN')">
                                <a href="/admin" class="p-2 text-white">
                                    <img src="https://cdn-icons-png.flaticon.com/128/3524/3524752.png" width="25px;" height="25px;">
                                </a>
                            </div>
                        </div>
                        <div class="text-start px-1 pt-2">
                            <div class="boardsSize"></div>
                            <div class="commentsSize"></div>
                        </div>
                        <div class="row p-2">
                            <div class="col-6 p-1">
                                <div class="py-1" style="background-color: #434B57; border-radius: 5px;">
                                    <a href="/mypage" style="text-decoration: none; color: white">마이페이지</a>
                                </div>
                            </div>
                            <div class="col-6 p-1">
                                <div class="logoutBtn py-1" style="background-color: #434B57; border-radius: 5px; color: white;">
                                    <a href="#" style="text-decoration: none; color: white">로그아웃</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <div class="p-3" style="background-color: white; border-radius: 15px;">
                            <div class="d-flex">
                                <div>
                                    <h5 class="fw-bold">인기게시글</h5>
                                </div>
                                <div class="ms-auto">
                                    <a th:href="'/boards?category=' + ${category}" class="text-black" style="text-decoration: none;">더보기</a>
                                </div>
                            </div>
                            <hr class="m-1">
                            <div class="hotBoard-list">
                                <div class="hotBoard-item d-flex text-start p-1">
                                    <span class="col me-auto pe-3">
                                        구현 예정
                                    </span>
                                    <span class="col-auto">
                                        2024-05-12
                                    </span>
                                </div>
                                <div class="hotBoard-item d-flex text-start p-1">
                                    <span class="col me-auto pe-3">
                                        구현 예정
                                    </span>
                                    <span class="col-auto">
                                        2024-05-12
                                    </span>
                                </div>
                                <div class="hotBoard-item d-flex text-start p-1">
                                    <span class="col me-auto pe-3">
                                        구현 예정
                                    </span>
                                    <span class="col-auto">
                                        2024-05-12
                                    </span>
                                </div>
                                <div class="hotBoard-item d-flex text-start p-1">
                                    <span class="col me-auto pe-3">
                                        구현 예정
                                    </span>
                                    <span class="col-auto">
                                        2024-05-12
                                    </span>
                                </div>
                                <div class="hotBoard-item d-flex text-start p-1">
                                    <span class="col me-auto pe-3">
                                        구현 예정
                                    </span>
                                    <span class="col-auto">
                                        2024-05-12
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-xl-2 order-1 col-xl-9">
                    <h4 class="my-3 p-3 fw-bold" style="background-color: white; border-radius: 15px;">자유게시판</h4>
                    <!--검색-->
                    <div class="board-search mb-1">
                        <div class="d-flex justify-content-center justify-content-sm-end">
                            <form class="d-flex" role="search">
                                <div class="col-auto">
                                    <select class="form-select" id="option">
                                        <option value="1">제목</option>
                                        <option value="2">내용</option>
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <input class="form-control me-2" type="search" id="keyword" aria-label="Search" placeholder="검색어를 입력하세요.">
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-primary" type="button" onclick="search()">검색</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="board-wrap" style="background-color: white; border-radius: 15px;">
                        <div class="d-flex ">
                            <div class="ms-auto">
                                <select class="p-2 sortSelect" style="border-radius: 5px;">
                                    <option value="0">날짜순</option>
                                    <option value="1">조회순</option>
                                    <option value="2">댓글순</option>
                                    <option value="3">좋아요순</option>
                                </select>
                            </div>
                        </div>
                        <!--게시글 Detail-->
                        <div class="board-list"></div>
                        <!--게시글 페이징-->
                        <nav>
                            <ul class="pagination justify-content-center board-page">
                            </ul>
                        </nav>
                        <!--글쓰기-->
                        <div class="text-start d-flex">
                            <a class="m-3 btn btn-primary ms-auto" th:href="'/boards/create?category=' + ${category}">글쓰기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:insert="~{layouts/footer.html :: footerFragment}"></div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
