<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="/account/logout.js"></script>
        <link href="/mobile/font.css" rel="stylesheet"></script>
    </head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function (){
            document.querySelector("#nickname").addEventListener("focusout", function (){
                checkNickname();
            });

            document.querySelector("#loginId").addEventListener("focusout", function (){
                checkLoginId();
            });

            document.querySelector("#loginPw").addEventListener("focusout", function (){
                checkLoginPw();
            });

            document.querySelector("#loginPwCheck").addEventListener("focusout", function (){
                checkLoginPw2();
            });

            document.querySelector("#joinBtn").addEventListener("click", async function (event){
                event.preventDefault(); // 기본 동작 중단
                if (confirm("가입 하시겠습니까?")) {
                    if (await checkNickname() && await checkLoginId() && await checkLoginPw() && await checkLoginPw2()) {
                        document.querySelector("#joinForm").submit();
                    } else {
                        alert("항목을 재확인 해주세요");
                    }
                }
            })
        });

        async function checkNickname() {
            const regExp = /^(?=.*[a-z0-9가-힣])[a-z0-9가-힣]{2,8}$/;
            const nickname = document.querySelector("#nickname").value; // 닉네임 입력값 가져오기

            if (!regExp.test(nickname)) {
                document.querySelector("#nickname-error").innerHTML = "<span style='color: red'>닉네임은 2자 이상 8자 이하, 영어 또는 숫자 또는 한글로 구성(한글 초성 및 모음 사용 불가능)해야합니다</span>";
                return; // 유효성 검사 통과 못하면 중단
            }

            try {
                const response = await fetch(`/checkNickname?nickname=${nickname}`);

                if (await response.text() === 'false') {
                    document.querySelector("#nickname-error").innerHTML = "<span style='color: red'>이미 사용 중인 닉네임입니다</span>";
                    return false;
                } else {
                    document.querySelector("#nickname-error").innerHTML = ""; // 오류 메시지 초기화
                    return true;
                }
            } catch (error) {
                alert("닉네임 확인 중 오류 발생:", error);
                window.location.href = "/join";
            }
        }

        async function checkLoginId() {
            const regExp = /^(?=.*[a-z0-9])[a-z0-9]{6,16}$/;
            const loginId = document.querySelector("#loginId").value; // 닉네임 입력값 가져오기

            if (!regExp.test(loginId)) {
                document.querySelector("#loginId-error").innerHTML = "<span style='color: red'>아이디는 6자 이상 16자 이하, 영어 또는 숫자로 구성해야합니다.</span>";
                return false; // 유효성 검사 통과 못하면 중단
            }

            try {
                const response = await fetch(`/checkLoginId?loginId=${loginId}`);

                if (await response.text() === 'false') {
                    document.querySelector("#loginId-error").innerHTML = "<span style='color: red'>이미 사용 중인 아이디입니다</span>";
                    return false;
                } else {
                    document.querySelector("#loginId-error").innerHTML = ""; // 오류 메시지 초기화
                    return true;
                }
            } catch (error) {
                alert("아이디 확인 중 오류 발생:", error);
                window.location.href = "/join";
            }
        }

        async function checkLoginPw() {
            const regExp = /^(?=.*[a-zA-Z])(?=.*[!@#$])[a-zA-Z0-9!@#$]{6,16}$/;
            const loginPw = document.querySelector("#loginPw").value; // 비밀번호 입력값 가져오기
            const loginPwCheck = document.querySelector("#loginPwCheck").value; // 닉네임 재확인 입력값 가져오기

            if (!regExp.test(loginPw)) {
                document.querySelector("#loginPw-error").innerHTML = "<span style='color: red'>영문자, 숫자, 그리고 특수 문자(!@#$)들 중 하나 이상을 포함하여 총 6자 이상, 16자 이하여야 합니다.</span>";
            } else {
                document.querySelector("#loginPw-error").innerHTML = "";
                if(loginPw !== loginPwCheck){
                    document.querySelector("#loginPwCheck-error").innerHTML = "<span style='color: red'>비밀번호가 일치하지 않습니다.</span>"; // 수정된 부분
                    return false;
                }else{
                    document.querySelector("#loginPwCheck-error").innerHTML = "비밀번호가 일치합니다";
                    return true;
                }
            }
        }

        async function checkLoginPw2() {
            const loginPw = document.querySelector("#loginPw").value; // 닉네임 입력값 가져오기
            const loginPwCheck = document.querySelector("#loginPwCheck").value; // 닉네임 재확인 입력값 가져오기

            if(loginPw !== loginPwCheck){
                document.querySelector("#loginPwCheck-error").innerHTML = "<span style='color: red'>비밀번호가 일치하지 않습니다.</span>"; // 수정된 부분
                return false;
            }else{
                document.querySelector("#loginPwCheck-error").innerHTML = "비밀번호가 일치합니다";
                return true;
            }
        }
    </script>
    <body style="background-color: #eee">
    <div class="container-md vh-100 d-flex justify-content-center align-items-center">
        <div class="col col-lg-5 border p-3 text-center" style="background-color: white; border-radius: 15px;">
            <div class="my-2">
                <a href="/"><img src="/logo/developersForum.png" width="120px;"></a>
            </div>
            <form action="/joinProc" method="post" id="joinForm" enctype="multipart/form-data">
                <input class="form-control test" type="text" name="nickname" id="nickname" placeholder="닉네임">
                <label class="my-2" id="nickname-error"></label>

                <input class="form-control" type="text" name="loginId" id="loginId" placeholder="아이디">
                <label class="my-2" id="loginId-error"></label>

                <input class="form-control" type="password" name="loginPw" id="loginPw" placeholder="비밀번호">
                <label class="my-2" id="loginPw-error"></label>

                <input class="form-control" type="password" name="loginPwCheck" id="loginPwCheck" placeholder="비밀번호 확인">
                <label class="my-2" id="loginPwCheck-error"></label>

                <textarea class="form-control my-3" rows="5" name="certificate" id="certificate" placeholder="자격사항"></textarea>

                <textarea class="form-control my-3" rows="5" name="career" id="career" placeholder="경력사항"></textarea>

                <div class="my-2">
                    <label>프로필 이미지</label>
                    <input type="file" name="profile" accept="image/*" class="form-control">
                </div>

                <div>
                    <input type="radio" id="male" name="gender" value="MALE" checked>
                    <label class="my-2" for="male">남자</label>

                    <input type="radio" id="female" name="gender" value="FEMALE">
                    <label class="my-2" for="female">여자</label>
                </div>

                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <input class="btn" id="joinBtn" type="submit" style="background-color: #434B57; color: white;" value="회원가입">
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>