<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/account/logout.js"></script>
        <script>
            async function searchUsers(){
                let search_input = document.getElementById("search_input").value;
                console.log(search_input);
                try{
                    const response = await fetch(`/api/users?UsersByKeyword=${search_input}`, {
                        method : "GET",
                        headers : {
                            "Content-Type" : "application/json"
                        }
                    });

                    const res = await response.json();
                    console.log(res);
                    let searchHtml = "";
                    res.forEach(row => {
                        searchHtml += `
                            <div class="col">
                                <div class="text-center">
                                    <a href="/users/${row.userId}" class="text-black text-decoration-none">
                                        <img src="https://cdn-icons-png.flaticon.com/128/4530/4530959.png" alt="" width="32" height="32" class="rounded-circle">
                                        <strong>${row.nickname}</strong>
                                    </a>
                                </div>
                            </div>
                        `;
                    });

                    document.getElementById("search_list").innerHTML = searchHtml;
                }catch (error){
                    alert(error);
                    window.location.href = "/";
                }

            }
        </script>
    </head>
    <div th:insert="~{layouts/header.html :: headerFragment}"></div>
    <body>
        <div class="container">
            <div class="d-flex flex-column align-items-center text-center my-5">
                <div class="col-md-4 col-lg-3">
                    <h2>사용자 검색</h2>
                    <form>
                        <input type="text" class="form-control mb-3" id="search_input" placeholder="닉네임을 입력하세요">
                        <button type="button" class="btn btn-primary form-control" onclick="searchUsers()">검색</button>
                    </form>
                </div>
                <div class="row row-cols-2" id="search_list"></div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
